<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="pizze">
            <ion-icon name="pizza-outline"></ion-icon>
            <ion-label>Pizze</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="insalatone">
            <i class="fa-solid fa-carrot fa fa-2x"></i>
            <ion-label>Vegan</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="preferiti">
            <ion-icon name="heart"></ion-icon>
            <ion-label>Preferiti</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="cart">
            <ion-icon name="cart-outline"></ion-icon>
            <ion-label>Carrello</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>