/*toolbar*/

ion-toolbar {
    --background: hsl(104, 38%, 42%)!important;
}


/*tab-bar*/

ion-tab-bar {
    --background: hsl(104, 38%, 42%)!important;
    --padding: 0 !important;
}


/*tab-button*/

ion-tab-button {
    --color: #f6f5f8;
}

ion-tab-button.tab-selected {
    --background: hsl(142, 38%, 42%)!important;
    --color-selected: #f6f5f8 !important;
}