<ion-menu contentId="sidemenu" menuId="sidemenu" side="end" type="overlay">
    <ion-header class="ion-no-border">
        <ion-toolbar translucent>
            <ion-title class="ion-text-center">
                <span style="color: #f6f5f8;">
          <ion-icon name="log-out-outline"></ion-icon>Sign in
        </span>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item routerLink="/profilo" routerLinkActive="active-state">
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-label>Profilo</ion-label>
            </ion-item>
            <ion-item routerLink="/contatti" routerLinkActive="active-state">
                <ion-icon name="map-outline" slot="start"></ion-icon>
                <ion-label>Contatti</ion-label>
            </ion-item>
            <ion-item routerLink="/preferiti" routerLinkActive="active-state">
                <ion-icon name="heart" slot="start"></ion-icon>
                <ion-label>Preferiti</ion-label>
            </ion-item>
            <ion-item routerLink="/commenti" routerLinkActive="active-state">
                <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
                <ion-label>Commenti</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>