<ion-menu contentId="sidemenu" menuId="sidemenu" side="end" type="overlay">
    <ion-header class="ion-no-border">
        <ion-toolbar translucent>
            <ion-title class="ion-text-center">
                <ion-menu-toggle auto-hide="true">
                    <a *ngIf="!isSignedIn" style="color: #f6f5f8;" routerLink="/login">
                        <ion-icon name="log-out-outline"></ion-icon>Sign in
                    </a>
                    <ion-text style="color: #f6f5f8;" *ngIf="isSignedIn">
                        <p>Hello {{UserProfile?.name}}</p>
                    </ion-text>
                </ion-menu-toggle>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="true">
                <ion-item routerLink="/profilo" *ngIf="isSignedIn" routerLinkActive="active-state">
                    <ion-icon name="person-outline" slot="start"></ion-icon>
                    <ion-label>Profilo</ion-label>
                </ion-item>
                <ion-item (click)="signOut()" *ngIf="isSignedIn">
                    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                    <ion-label>Logout</ion-label>
                </ion-item>
                <ion-item routerLink="/signup" *ngIf="!isSignedIn" routerLinkActive="active-state">
                    <ion-icon name="person-outline" slot="start"></ion-icon>
                    <ion-label>Registrati</ion-label>
                </ion-item>
                <ion-item routerLink="/contatti" routerLinkActive="active-state">
                    <ion-icon name="map-outline" slot="start"></ion-icon>
                    <ion-label>Contatti</ion-label>
                </ion-item>
                <ion-item routerLink="/preferiti" *ngIf="isSignedIn" routerLinkActive="active-state">
                    <ion-icon name="heart" slot="start"></ion-icon>
                    <ion-label>Preferiti</ion-label>
                </ion-item>
                <ion-item routerLink="/commenti" routerLinkActive="active-state">
                    <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
                    <ion-label>Commenti</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
