<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button menu="sidemenu"></ion-menu-button>
        </ion-buttons>
        <div class="ion-text-center">
            <ion-icon name="pizza-outline" class="rotate"></ion-icon><span class="logo"><span
          style="color: black;">the</span><span style="color:#fff">pizza</span></span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <swiper #swiper [config]="config">
        <ng-container *ngFor="let pizza of pizze; index as i">
            <ng-template swiperSlide *ngIf="pizze[i].inevidenza">
                <img class="imgSwip" [src]="url+pizza.img">
                <h2 class="title-text">{{pizza.titolo}}</h2>
                <h2 class="price-text">{{pizza.prezzo}} €</h2>
            </ng-template>
        </ng-container>
        <ng-container *ngFor="let insalata of insalatone; index as i">
            <ng-template swiperSlide *ngIf="insalatone[i].inevidenza">
                <img class="imgSwip" [src]="url+insalata.img">
                <h2 class="title-text">{{insalata.titolo}}</h2>
                <h2 class="price-text">{{insalata.prezzo}} €</h2>
            </ng-template>
        </ng-container>
    </swiper>

    <div [hidden]='insalatone || pizze || piattiErrMsg'>
        <div class="lds-hourglass "></div>
    </div>
</ion-content>
