<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button menu="sidemenu"></ion-menu-button>
        </ion-buttons>
        <div class="ion-text-center">
            <ion-icon name="pizza-outline" class="rotate"></ion-icon><span class="logo"><span
          style="color: black;">the</span><span style="color:#fff">pizza</span></span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="ion-padding">
        <div *ngIf="pizze">
            <div *ngFor="let pizza of pizze">
                {{pizza.titolo}}
            </div>
        </div>
        <div *ngIf="insalatone">
            <div *ngFor="let insalatona of insalatone">
                {{insalatona.titolo}}
            </div>
        </div>
        <div [hidden]='pizze || insalatone || piattiErrMsg'>
            <div class="lds-hourglass"></div>
        </div>
    </div>
</ion-content>
