<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button menu="sidemenu"></ion-menu-button>
        </ion-buttons>
        <div class="ion-text-center">
            <ion-icon name="pizza-outline" class="rotate"></ion-icon><span class="logo"><span
          style="color: black;">the</span><span style="color:#fff">pizza</span></span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <swiper #swiper [config]="config">
        <ng-container *ngFor="let pizza of pizze; index as i">
            <ng-template swiperSlide *ngIf="pizze[i].inevidenza">
                <img class="imgSwip" [src]="url+pizza.img">
                <h2 class="title-text">{{pizza.titolo}}</h2>
                <h2 class="price-text">{{pizza.prezzo}} €</h2>
            </ng-template>
        </ng-container>
        <ng-container *ngFor="let insalata of insalatone; index as i">
            <ng-template swiperSlide *ngIf="insalatone[i].inevidenza">
                <img class="imgSwip" [src]="url+insalata.img">
                <h2 class="title-text">{{insalata.titolo}}</h2>
                <h2 class="price-text">{{insalata.prezzo}} €</h2>
            </ng-template>
        </ng-container>
    </swiper>
    <ion-list>
        <ion-text class="ion-text-center">
            <h2 class="linee">Menu</h2>
        </ion-text>
        <ion-item>
            <ion-grid fixed>
                <ion-row class="text-content">
                    <ion-col size="12" size-lg="6" *ngFor="let pizza of pizze; let i = index;let last = last" class="border-col">
                        <ion-text>
                            <h2 class="title-text">{{pizza.titolo}}</h2>
                        </ion-text>
                        <h4 class="price-text-2">{{pizza.prezzo}} €</h4>
                        <img class="imgList" [src]="url+pizza.img" />
                        <p>{{(pizza.descrizione.length > 100) ? (pizza.descrizione | slice:0:100) + '...': pizza.descrizione }}</p>
                        <ion-row class="ion-align-items-center">
                            <ion-col size="4">
                                <div *ngIf="pizza.voti">
                                    <div>
                                        <p>
                                            <i class="fa-star gold fa-solid"></i> {{pizza.voti | sum:'rate' }} / 5.00
                                        </p>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="4">
                                <div *ngFor="let count of pizza.comments; let i = index;let last = last" [routerLink]="'commenti/'+pizza.slug" tappable>
                                    <p *ngIf="last">
                                        <ion-button color="success">
                                            <ion-icon name="chatbox-outline"></ion-icon> {{i+1}}
                                        </ion-button>
                                    </p>
                                </div>
                            </ion-col>
                            <ion-col size="4">
                                <p>
                                    <ion-button color="light" (click)="setActivePizza(pizza)" [ngClass]="{'danger': pizza.id === activePizza?.id}">
                                        <ion-icon name="heart"></ion-icon>
                                    </ion-button>
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="12" size-lg="6" *ngFor="let insalata of insalatone" class="border-col">
                        <ion-text>
                            <h2 class="title-text">{{insalata.titolo}}</h2>
                        </ion-text>
                        <h4 class="price-text-2">{{insalata.prezzo}} €</h4>
                        <img class="imgList" [src]="url+insalata.img" />
                        <p>{{(insalata.descrizione.length > 100) ? (insalata.descrizione | slice:0:100) + '...': insalata.descrizione }}</p>
                        <ion-row class="ion-align-items-center">
                            <ion-col size="4">
                                <div *ngIf="insalata.voti">
                                    <div>
                                        <p>
                                            <i class="fa-star gold fa-solid"></i> {{insalata.voti | sum:'rate' }} / 5.00
                                        </p>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="4">
                                <div *ngFor="let count of insalata.comments; let i = index;let last = last" [routerLink]="'commenti/'+insalata.slug" tappable>
                                    <p *ngIf="last">
                                        <ion-button color="success">
                                            <ion-icon name="chatbox-outline"></ion-icon> {{i+1}}</ion-button>
                                    </p>
                                </div>
                            </ion-col>
                            <ion-col size="4">
                                <p>
                                    <ion-button color="light" (click)="setActiveInsalata(insalata)" [ngClass]="{'active': insalata.id === activeInsalata?.id}">
                                        <ion-icon name="heart"></ion-icon>
                                    </ion-button>
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

    <div [hidden]='insalatone || pizze || piattiErrMsg'>
        <div class="lds-hourglass "></div>
    </div>
</ion-content>
