<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button menu="sidemenu"></ion-menu-button>
        </ion-buttons>
        <div class="ion-text-center">
            Insalatone
        </div>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="ion-padding">
        <div *ngIf="insalatone">
            <div *ngFor="let insalatona of insalatone">
                {{insalatona.titolo}}
            </div>
        </div>
        <div [hidden]='insalatone || piattiErrMsg'>
            <div class="lds-hourglass"></div>
        </div>
    </div>
</ion-content>
