<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="onClick()" icon-only slot="end" expand="block" fill="clear" shape="round">
            <ion-icon name="close-outline" style="color: white;"></ion-icon>
        </ion-button>
        <ion-title style="color: white;">Commenta {{titolo}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <ion-item>
            <ion-label position="floating">Autore</ion-label>
            <ion-input type="text" placeholder="Il tuo nome" name="autore" ngModel required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Vota da 1 a 5</ion-label>
            <ion-range name="rate" min="1" max="5" pin="true" snaps="true" step="1" color="medium" ngModel required>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Commento</ion-label>
            <ion-textarea placeholder="Commenta" name="commento " ngModel required></ion-textarea>
        </ion-item>
        <br>
        <ion-button size="large " color="light " type="submit " [disabled]="form.invalid " expand="block ">
            Send
            <ion-icon name="send-sharp "></ion-icon>
        </ion-button>
    </form>
</ion-content>