.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.rotate {
    transform: rotate(-30deg);
    font-size: 1.7rem;
    color: #f6f5f8;
    border-bottom: 2px solid #333;
    border-top: 2px solid #f6f5f8;
    border-radius: 50%;
    padding: 3px;
}